.title-24 {
  font-weight: 700;
  color: var(--black);
  font-size: 24px;
}
.title-18{
  font-weight: 700;
  color: var(--black);
  font-size: 18px;
}
.title-15 {
  font-weight: 700;
  color: var(--black);
  font-size: 15px;
}

.text-grey-12 {
  color: var(--medium-grey);
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 12px;
}

.text-grey-15 {
  color: var(--medium-grey);
  font-weight: 700;
  font-size: 15px;
}

.text-purple-15 {
  color: var(--main-purple);
  font-weight: 700;
  font-size: 15px;
}

.text-md-grey-18{
  color: var(--medium-grey);
  font-weight: 700;
  font-size: 18px;
}

.text-desc{
  color: var(--medium-grey);
  font-weight: 500;
  font-size: 13px;
  line-height: 177%;
}